{% include 'header.html.twig' with {'title': 'About Us','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/default_header.html.twig'%}



<section class=" mbr-fullscreen-nxt" id="section05">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="color: green; font-size:medium;font-weight:bolder;" ><a href="{{ url('home_page') }}" style="color: green; font-size:medium;font-weight:bolder;">Home </a>-> About Us</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>



<section class=" mbr-fullscreen-content" id="section06">

    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
   
    </div>

    <div class="container">
            <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
            
        <h4 style="font-family: 'Russo One', sans-serif; color: gold; "> About Us </h4> 
			


            </div>

            </div>
			 
    </div>
 
    
</section>
<section class=" mbr-fullscreen-content" id="section06">

    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
			 <div style="font-size:large; line-height:2; font-family:Fjalla One; text-align:justify; color:black;">
   At Prestige Accommodation, we take immense pride in what we do. You are the reason our company exists and hence you are not just an outsider to us. Whether you are in the process of relocating to Sydney, or on a short-term job assignment, or extended training, or for a short trip we understand that finding the perfect temporary home is critical. We also understand that each our guests has unique choices and requirements, and regardless of the length of your stay, we promise to make your experience the best it can be.
We attracts guests who stay for days, weeks or months at a time. Affordable accommodation with all the necessary amenities makes our guests feel home away from home. We take utmost care to make sure you have a memorable experience.
</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>




{% include 'footer.html.twig' with {'extra_js':''} %} 