{% include 'header.html.twig' with {'title': 'Contact Us','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">





<form name="form1" method="post" action="https://stays.3fellas.com.au/contact_us.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="form1">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJODU2MTI0NTkyZGRA3GhjfhZ1KJK4YWaC4Tahyrpq/g==" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="WebResourcebc95.js?d=qgG5OWh70uWZmpRuOlhAW94ntMk4ntrg5Yu22D55SOGy9szAPgdbbiTiLk38ETJau3MNFngyZ6VVjuOUefnPUKtYRB81&amp;t=636040172080000000" type="text/javascript"></script>


<script src="WebResource212a.js?d=U1ynJhfhggQq0P5ni-OXBqdVQXp7Q4x2why4ojCGqR3TJsobZ-w0zaQZ5PW3EWyA6oawzQmMZNrYSG3xF59UyCzuyWY1&amp;t=636040172080000000" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="0829F5A3" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWCAKIzcyGCQLC77bvDALS4eP/BAKyzYKDDQKy3q+3BwK7/aLmBQL16qWhCQKW+uaKDWPE1JgkRAdabH/AutMiGwJj9Yz0" />
</div>
    <div>
    
{% include 'default/default_header.html.twig'%}

<section class=" mbr-fullscreen-nxt" >

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="color: green; font-size:medium;font-weight:bolder;" ><a href="index.html" style="color: green; font-size:medium;font-weight:bolder;">Home </a>-> Contact Us</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>


<section class=" mbr-fullscreen-content" >

    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
   
    </div>

    <div class="container">
            <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
            
        <h4 style="font-family: 'Russo One', sans-serif; color: gold; "> Contact Us </h4> 
			


            </div>

            </div>
			 
    </div>
 
    
</section>
<section class=" mbr-fullscreen-content" >

    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
   
    </div>

    <div class="container">
            <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
            
        <h4 style="font-family: 'Russo One', sans-serif; font-size:medium; color: black; "> 
        <b>Address</b>: <p>35, Woodly Crescent, Glendenning NSW </p>
	<b>Whatsapp : </b> +61449161249
         </h4> 
			


            </div>

            </div>
			 
    </div>
 
    
</section>
  
                                                 
<section class=" mbr-fullscreen-content" >

 <div class="mbr-overlay" style="opacity: 1; background: gray; ">
   
    </div>
    <div class="container " >
   <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-12">
             <div >
    
   
               
           
  <section style="margin-top:10px;">
       
 <div class="mbr-overlay" style="opacity: 1; background: gray; ">
   
    </div>  
       <div class="container"  >
          <!-- <center><img src="assets/images/3fellas-214x95.png"/></center> -->
            <!-- <center><b><h3 style="color:White;background-color:ThreeDDarkShadow;">Nearly there ! Just few more details...</h3></b></center> -->
          
          
           
           <div class="form-row" style="color:White;">
              
              <div class="form-group col-md-6">
                   

                  <div class="col-md-12">
                      <label for="nm">Name<span id="RequiredFieldValidator1" style="color:Red;visibility:hidden;">*</span></label>
                      <input name="nm" type="text" id="nm" class="form-control" name="nm" />
                   </div>
                     
                <div class="col-md-12">
                     <label for="contact" >Contact Number<span id="RequiredFieldValidator2" style="color:Red;visibility:hidden;">*</span></label>
                     <input name="contact" type="text" id="contact" class="form-control" name="contact" />
                     
                 </div>
                  
                <!--<div class="col-md-12">
                    <label for="address">Address for Communication</label>
                    <textarea type="text" name="widget-contact-form-message" rows="5" class="form-control required" placeholder="Enter your full address" name="address" id="address"></textarea>
                </div> -->
                 <div class="col-md-12">
                     <label for="email">Email Address<span id="RequiredFieldValidator3" style="color:Red;display:none;">*</span>
                     <span id="RegularExpressionValidator1" style="color:Red;display:none;">*</span></label>
                      <input name="email1" type="text" id="email1" class="form-control" name="email1" />
                     
                 </div>
                <div class="col-md-12">
                     <label for="contact">Reference Number (Optional)</label>
                     <input name="txt_Reference_no" type="text" id="txt_Reference_no" class="form-control" name="contact" />
                     
                 </div>
               </div>
              
              <div class="form-group col-md-6">
                 <!-- <h4 class="styleh4 centerme" style="text-decoration: underline;"> Details</h4>-->
                 
                  
                  
                 <div class="col-md-12">
                     <label for="ocomm">Short Message<span id="RequiredFieldValidator4" style="color:Red;visibility:hidden;">*</span></label>
                      <textarea name="ocomm" rows="3" cols="20" id="ocomm" class="form-control" name="ocomm"></textarea>
                     
                 </div>

                
                  <div class="col-md-12">
                 
       

 </div>
                 <div class="col-md-12 ">
                <label for="sub"><center><span id="lbl_error" style="color:#FF3300;"></span></center> </label>
               <input type="submit" name="clickme" value="Send" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;clickme&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="clickme" class="btn btn-primary form-control " />
               
               </div>
              </div>
               
              
               
               <div id="ValidationSummary1" style="color:Red;display:none;">

</div>
           </div>
           
           
           
       </div>
         
</section>
 
                                        </div>
            </div>
       </div>
            
 
</section>



</form>

{% include 'footer.html.twig' with {'extra_js':''} %} 