{% include 'header.html.twig' with {'title': 'Envision','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/default_header.html.twig'%}



<section class=" mbr-fullscreen-content" id="vision">

    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
            
        <h4 style="font-family: 'Russo One', sans-serif; color: gray; "> We enVision </h4> 
			
            </div>
          
            </div>
			 <div class="media-container-row">
			
           <div class="card p-3 col-12 col-md-6 col-lg-6">
            
       
		<img src="{{ asset('web_assets/images/vision.jpg') }}" class="img-thumbnail img-responsive" alt="Cinque Terre"/>			
			
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-6">
            
       
					
			<div style="font-size:xx-large; line-height:2; font-family:Fjalla One; text-align:center; color:black; ">
    <p style="display: flex;     align-items: center;     margin: 0 auto;    min-height:54vh;  text-transform:uppercase;  ">
To be recognized as the premier provider of exceptional quality service in shared accommodation.</p> <br><br>
</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>
<section class=" mbr-fullscreen-content" id="mission">

    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
            
        <h4 style="font-family: 'Russo One', sans-serif; color: gold; "> Our Mission </h4> 
			
            </div>
          
            </div>
			 <div class="media-container-row">
			
           <div class="card p-3 col-12 col-md-6 col-lg-6">
            
       
		<img src="{{ asset('web_assets/images/Mission.png') }}" class="img-thumbnail img-responsive" alt="Cinque Terre"/>			
			
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-6">
            
       
					
			<div style="font-size:xx-large; line-height:2; font-family:Fjalla One; text-align:center; color:white; ">
    <p style="display: flex;     align-items: center;     margin: 0 auto;    min-height:54vh;  text-transform:uppercase;  ">
To provide you with SAFE, SECURE, HASSLE-FREE, and LEGALLY-RECOGNISED accommodation in Australia.</p> <br><br>
</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>



<section class=" mbr-fullscreen-footer" id="section6">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
      

            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="text-align:center;font-size:17px;color:gray;"  > CONNECT - stayz@3fellas.com.au &nbsp;<a href="https://www.facebook.com/3Fellas-Stayz-1294038000699111/" target="_Black" style="color:black;"> <i class="fab fa-facebook"> </i> </a>&nbsp; <a href="https://twitter.com/3FellasStayz" style="color:black;" target="_Black"> <i class="fab fa-twitter"></i></a></div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->

    
</section>



{% include 'footer.html.twig' with {'extra_js':''} %} 