{% include 'header.html.twig' with {'title': 'FAQ','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/default_header.html.twig'%}



<section class=" mbr-fullscreen-nxt" id="section05">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="color: green; font-size:medium;font-weight:bolder;" ><a href="{{ url('home_page') }}" style="color: green; font-size:medium;font-weight:bolder;">Home </a>-> FAQ's</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>

<section class=" mbr-fullscreen-content" id="d1">
    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
    </div>
   <div class="container  ">
        <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
						<h4 style="font-family: 'Russo One', sans-serif; color: gold; ">FAQs</h4>
			</div>
        </div>
    </div>
</section>
<section class=" mbr-fullscreen-content" id="d2">
    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
    </div>


       <div class="container">
    <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12" style="color:white; font-size:large; line-height:2; font-family:Fjalla One; ">
        <div class="panel-group" id="accordion">

                    
                        <div class="panel panel-default">
                                                   <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse11">
                                                        What is a fully furnished apartment?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse11" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                      Prestige Accommodations only offers furnished housing in the finest apartment & condominium communities throughout Sydney. Each home is fully furnished with everything you will need to make you feel right at home including all furniture, bed, mattress kitchen utensils and tableware. Cable television, utilities and wireless high-speed internet are also provided complimentary. Our goal is to truly provide you with comfortable environment to live, a place you will be proud to call your home.
                                                      </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                   
                                                   
                                                    <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse12">
                                                         Is there a minimum length of stay for a furnished apartment?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse12" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                        Most locations have a 30-day minimum length of stay. During certain times of the year and at certain communities, we may offer stays of less than 30 days. Please let us know your requirement by placing a request through contact us form and one of our representative will get back to you.
                                                      </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                   
                                                   
                                                   
                                                   
                                                   
                                                   
                                                    <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse13">
                                                        What household items are provided in a 'Prestige' fully furnished apartment?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse13" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                       40 inch LCD HD TV (Living), Wireless high-speed internet, Microwave, Dishwasher, Washing Machine, Dryer, Iron box and table, Kitchen Utensils, Tableware, Bed, Mattress, Hot Water, Refrigerator, Dining Table and Lounge
                                                      </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                   
                                                   
                                                   
                                                      <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse14">
                                                        Can I bring my family pet?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse14" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                       Sorry.Pets are not allowed in our premises as it is a shared space. </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                   
                                                   
                                                   
                                                    <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse141">
                                                       How can I receive more information?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse141" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                      To learn more about Prestige Accommodations or to check on the availability of a specific apartment, please submit your request through contact us </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                   
                                                   
                                                     <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse142">
                                                      Can I choose who I share my apartment or room with?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse142" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                      Your roommate will be someone like you and we make every effort to match you with roommates who would be compatible with you and are as per your preferences. </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                 
                                                 
                                                  <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse1422">
                                                      Do you allow short term stays?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse1422" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                      Yes, we do allow short term stays, but we expect our clients to notify us the checkout date, either two weeks in advance or at the time of booking. </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                   
                                                   
                                                   
                                                    <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse14211">
                                                      Am I allowed to have guests stay overnight?

                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse14211" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                     You can welcome guests, but they have to leave the house before 9pm the latest (same day) and a sleepover is strictly forbidden unless prior consent has been obtained from us, and incurs a surcharge of 50 AUD/person/night. </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                   
                                                   
                                              <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse14221">
                                                      What is included in my rent?

                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse14221" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                     Your rent includes gas, electricity, water and unlimited Wi-fi. You also get access to communal areas including a gymnasium and swimming pool if its available in the society. </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->     
                                                   
                                                   
                                                   
                                                   <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse24221">
                                                      Am I allowed to inspect the apartments before finalizing?

                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse24221" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                    Yes, we can arrange for an inspection for you. Please submit your request using contact us and we will schedule a time for you.</div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->     
                                                   
                                                   
                                                   
                                                   <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse22221">
                                                     How far is the public transport for the unit?

                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse22221" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                   All our unit are 5 mins walk to the train station. For exact distance please check on Google maps.</div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->  
                                                   
                                                   
                                                   
                                                   <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse11221">
                                                     Do you provide kitchen utensils?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse11221" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                   Yes, we provide all kitchen utensils, pots and pans including a rice cooker, cutlery and crockery. Our kitchen set up includes almost everything you would need for a start-up.</div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->  
                                                
                                                
                                                <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse31221">
                                                     What type of accommodation do you provide?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse31221" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                   We offer a range of apartments for you to choose from. You can choose your apartment and room type as per your requirement. We have 2 and 3-bedroom units where you can pick a room of choice for yourself or twin-share a room as need be.</div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->    
                                                
                                                
                                                
                                                <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse51221">
                                                     Do you offer long stay discounts?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse51221" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                  We prefer long term stays and reward you with discounts accordingly 
                                                   
                                                   </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse --> 
                                                   
                                                   
                                                    <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                         <a  class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapse512211">
                                                     How do I reserve a room?
                                                         </a>
                                                      </h4>
                                                   </div><!--/.panel-heading -->
                                                   <div id="nested-collapse512211" class="panel-collapse collapse">
                                                      <div class="panel-body">
                                                  Simply fill in our 'Contact us' form and we will get in touch with you to understand and fulfill your requirements.
                                                   
                                                   </div><!--/.panel-body -->
                                                   </div><!--/.panel-collapse -->
                                                </div><!-- /.panel -->
                       
                    

</div>
  </div>
</div>



</section>

<section class=" mbr-fullscreen-content" id="d2">
    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
    </div>


       <div class="container">
    <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12" style="color:black; font-size:large; line-height:2; font-family:Fjalla One; text-align:center; ">
  * Availability based on unit <br />
** As per service provider's guidelines

</div>
  </div>
</div>



</section>

{% include 'footer.html.twig' with {'extra_js':''} %} 