{% include 'header.html.twig' with {'title': "#{page_title}",'extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/default_header.html.twig'%}



<section class=" mbr-fullscreen-nxt" id="section05">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="color: green; font-size:medium;font-weight:bolder;" ><a href="{{ url('home_page') }}" style="color: green; font-size:medium;font-weight:bolder;">Home </a>-> {{ page_title  }}</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>


<section class=" mbr-fullscreen-content" id="d1">
    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
    </div>
   <div class="container  ">
        <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12" >
						<h4 style="font-family: 'Russo One', sans-serif; color: gold; "> {{ page_title  }} </h4> 
			</div>
        </div>
    </div>
</section>
<section class=" mbr-fullscreen-content" id="d1">
    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
    </div>
   <div class="container  ">
        <div class="media-container-row">   
			<div class="card p-3 col-12 col-md-6 col-lg-12" style="color:black;font-size:large; line-height:2; font-family:Fjalla One; text-align:justify;">
			{{ page_description|raw }}

		
			</div>
        </div>
    </div>
</section>
{% include 'footer.html.twig' with {'extra_js':''} %} 