{% include 'header.html.twig' with {'title': 'Privacy','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/default_header.html.twig'%}



<section class=" mbr-fullscreen-nxt" id="section05">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="color: green; font-size:medium;font-weight:bolder;" ><a href="{{ url('home_page') }}" style="color: green; font-size:medium;font-weight:bolder;">Home </a>-> Privacy Statement</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>


<section class=" mbr-fullscreen-content" id="d1">
    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
    </div>
   <div class="container  ">
        <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12" >
						<h4 style="font-family: 'Russo One', sans-serif; color: gold; "> Privacy Statement </h4> 
			</div>
        </div>
    </div>
</section>
<section class=" mbr-fullscreen-content" id="d1">
    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
    </div>
   <div class="container  ">
        <div class="media-container-row">   
			<div class="card p-3 col-12 col-md-6 col-lg-12" style="color:black;font-size:large; line-height:2; font-family:Fjalla One; text-align:justify;">
			<p _ngcontent-c20="">Prestige Accommodation is committed to providing quality services to you and this policy outlines our ongoing obligations to you in respect of how we manage your Personal Information.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  We have adopted the Australian Privacy Principles (APPs) contained in the Privacy Act 1988 (Cth) (the Privacy Act). The NPPs govern the way in which we collect, use, disclose, store, secure and dispose of your Personal Information.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  A copy of the Australian Privacy Principles may be obtained from the website of The Office of the Australian Information Commissioner at <a _ngcontent-c20="" href="https://www.aoic.gov.au/">www.aoic.gov.au</a></p>
<p _ngcontent-c20=""><strong _ngcontent-c20="">What is Personal Information and why do we collect it?</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  Personal Information is information or an opinion that identifies an individual. Examples of Personal Information we collect include: names, addresses, email addresses, phone and facsimile numbers.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  This Personal Information is obtained in many ways including <strong _ngcontent-c20="">correspondence, by telephone and facsimile, by email, via our website <a _ngcontent-c20="" href="http://www.prestigeaccommodation.com.au/">www.prestigeaccommodation.com.au</a> </strong>and from third parties. We don't guarantee website links or policy of authorised third parties. Primary purpose for collecting your information is to fulfil the KYC (Know Your Customer) which is required to identify you. Secondary purpose is to assess your eligibility for the Tenancy Application for the said property.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  We collect your Personal Information for the primary purpose of providing our services to you, providing information to our clients and marketing. We may also use your Personal Information for secondary purposes closely related to the primary purpose, in circumstances where you would reasonably expect such use or disclosure. You may unsubscribe from our mailing/marketing lists at any time by contacting us in writing.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  When we collect Personal Information we will, where appropriate and where possible, explain to you why we are collecting the information and how we plan to use it.<br _ngcontent-c20="">
</p>
<p _ngcontent-c20=""><strong _ngcontent-c20="">Sensitive Information</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  Sensitive information is defined in the Privacy Act to include information or opinion about such things as an individual's racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs, membership of a trade union or other professional body, criminal record or health information.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  Sensitive information will be used by us only:<br _ngcontent-c20="">
</p>
<ul _ngcontent-c20="">
  <li _ngcontent-c20="">For the primary purpose for which it was obtained</li>
  <li _ngcontent-c20="">For a secondary purpose that is directly related to the primary purpose</li>
  <li _ngcontent-c20="">With your consent; or where required or authorised by law.</li>
</ul>
<p _ngcontent-c20=""><strong _ngcontent-c20="">Third Parties</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  Where reasonable and practicable to do so, we will collect your Personal Information only from you. However, in some circumstances we may be provided with information by third parties. In such a case we will take reasonable steps to ensure that you are made aware of the information provided to us by the third party.</p>
<p _ngcontent-c20=""><strong _ngcontent-c20="">Disclosure of Personal Information</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  Your Personal Information may be disclosed in a number of circumstances including the following:<br _ngcontent-c20="">
</p>
<ul _ngcontent-c20="">
  <li _ngcontent-c20="">Third parties where you consent to the use or disclosure; and</li>
  <li _ngcontent-c20="">Where required or authorised by law.</li>
</ul>
<p _ngcontent-c20=""><strong _ngcontent-c20="">Security of Personal Information</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  Your Personal Information is stored in a manner that reasonably protects it from misuse and loss and from unauthorized access, modification or disclosure.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  When your Personal Information is no longer needed for the purpose for which it was obtained, we will take reasonable steps to destroy or permanently de-identify your Personal Information. However, most of the Personal Information is or will be stored in client files which will be kept by us for a minimum of 7 years.<br _ngcontent-c20="">
</p>
<p _ngcontent-c20=""><strong _ngcontent-c20="">Access to your Personal Information</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  You may access the Personal Information we hold about you and to update and/or correct it, subject to certain exceptions. If you wish to access your Personal Information, please contact us in writing.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  <strong _ngcontent-c20="">Prestige Accommodation</strong> will not charge any fee for your access request, but may charge an administrative fee for providing a copy of your Personal Information.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
  In order to protect your Personal Information we may require identification from you before releasing the requested information.<br _ngcontent-c20="">
</p>
<p _ngcontent-c20=""><strong _ngcontent-c20="">Maintaining the Quality of your Personal Information</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  It is an important to us that your Personal Information is up to date. We will take reasonable steps to make sure that your Personal Information is accurate, complete and up-to-date. If you find that the information we have is not up to date or is inaccurate, please advise us as soon as practicable so we can update our records and ensure we can continue to provide quality services to you.<br _ngcontent-c20="">
  <br _ngcontent-c20="">
</p>
<p _ngcontent-c20=""><strong _ngcontent-c20="">Policy Updates</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  This Policy may change from time to time and is available on our website.<br _ngcontent-c20="">
</p>
<p _ngcontent-c20=""><strong _ngcontent-c20="">Privacy Policy Complaints and Enquiries</strong><br _ngcontent-c20="">
  <br _ngcontent-c20="">
  If you have any queries or complaints about our Privacy Policy please contact us at:<br _ngcontent-c20="">
  <strong _ngcontent-c20=""><a _ngcontent-c20="" href="mailto:admin@prestigeaccommodation.com.au?Subject=Privacy%20policy" target="_top">Send Mail</a></strong></p>

		
			</div>
        </div>
    </div>
</section>
{% include 'footer.html.twig' with {'extra_js':''} %} 