{% include 'header.html.twig' with {'title': 'Services','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/default_header.html.twig'%}



<section class=" mbr-fullscreen-nxt" id="section05">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="color: green; font-size:medium;font-weight:bolder;" ><a href="{{ url('home_page') }}" style="color: green; font-size:medium;font-weight:bolder;">Home </a>-> Services</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>



<section class=" mbr-fullscreen-content" id="section06">

    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
            
					<h4 style="font-family: 'Russo One', sans-serif; color: gold; "> Services </h4> 
			
            </div>
          
            </div>
			
			
			 
    </div>

    
</section>
<section class=" mbr-fullscreen-content" id="section06">

    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
   
    </div>

    <div class="container  ">
      
            
            
			 <div class="media-container-row">
			
			<div class="card p-3 col-12 col-md-6 col-lg-6">
            
       Choose room type which best suits your needs. We offer shared or a private room in a 2 or 3 bedrooms fully furnished units.
				
					<div style="font-size:xx-large; line-height:2; font-family:Fjalla One; text-align:center; color:black; ">
						<p style="text-transform:uppercase;  ">
							 Accommodation		
						</p> 
					</div>				 
			
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-6">
		We offer discounts to Job Seekers, Students and guests staying for longer durations.
					<div style="font-size:xx-large; line-height:2; font-family:Fjalla One; text-align:center; color:black; ">
						<p style="text-transform:uppercase;  ">
								Discount
						</p> 
					</div>
            </div>
            </div>
			
			 
    </div>

    
</section>

<section class=" mbr-fullscreen-content" id="section06">

    <div class="mbr-overlay" style="opacity: 1; background: gold; ">
   
    </div>

    <div class="container  ">
      
            
           
			 <div class="media-container-row">
			
			<div class="card p-3 col-12 col-md-6 col-lg-6">
            
       
			All our apartments are cleaned regularly by professionals to ensure hygiene and healthy wellbeing of the people staying with us.	
					<div style="font-size:xx-large; line-height:2; font-family:Fjalla One; text-align:center; color:black; ">
						<p style="text-transform:uppercase; color:black; ">
								Cleaning
						</p> 
					</div>				 
			
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-6">
		Share the joy and get rewarded. Refer friends and get eligible for attractive bonus.


					<div style="font-size:xx-large; line-height:2; font-family:Fjalla One; text-align:center; color:black; ">
						<p style="text-transform:uppercase;  color:black;">
								Referral Bonus
						</p> 
					</div>
            </div>
            </div>
			
			 
    </div>

    
</section>


{% include 'footer.html.twig' with {'extra_js':''} %} 