{% include 'header.html.twig' with {'title': 'Terms & Conditions','extra_css':''}  %}
<body style="font-family: 'Yanone Kaffeesatz', sans-serif;">

{% include 'default/default_header.html.twig'%}



<section class=" mbr-fullscreen-nxt" id="section05">

    <div class="mbr-overlay" style="opacity: 1; background: white;">
   
    </div>

    <div class="container  ">
      
            
            <div class="media-container-row">
           
            <div class="card p-3 col-12 col-md-6 col-lg-12">
            
      <div style="color: green; font-size:medium;font-weight:bolder;" ><a href="{{ url('home_page') }}" style="color: green; font-size:medium;font-weight:bolder;">Home </a>-> Terms & Conditions</div>
            </div>
            </div>
    </div>
   <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
    
</section>

<section class=" mbr-fullscreen-content" id="d1">
    <div class="mbr-overlay" style="opacity: 1; background: gray; ">
    </div>
   <div class="container  ">
        <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12">
						<h4 style="font-family: 'Russo One', sans-serif; color: gold; ">Terms & Conditions </h4>
			</div>
        </div>
    </div>
</section>
<section class=" mbr-fullscreen-content" id="d1">
    <div class="mbr-overlay" style="opacity: 1; background: gold;">
    </div>
   <div class="container  ">
        <div class="media-container-row">
			<div class="card p-3 col-12 col-md-6 col-lg-12" style="color:black; font-size:large; line-height:2; font-family:Fjalla One; text-align:justify;">
					
<ol _ngcontent-c19="">
  <li _ngcontent-c19=""><strong _ngcontent-c19="">Rent</strong></li>
  <ol _ngcontent-c19="">
    <li _ngcontent-c19="">Rent is always paid 2 weeks in advance.</li>
    <li _ngcontent-c19="">Rent should always be paid through bank transfer.</li>
    <li _ngcontent-c19="">Rent is calculated on daily basis.</li>
    <li _ngcontent-c19="">A$15 would be charged for delayed transfer and will be deducted from security deposit.</li>
    <li _ngcontent-c19="">Transfer needs to be done to our business account which will be provided once the accommodation is confirmed.<br _ngcontent-c19="">
    </li>
  </ol>
  <br _ngcontent-c19="">
  <li _ngcontent-c19=""><strong _ngcontent-c19="">Deposit</strong>
    <ol _ngcontent-c19="">
      <li _ngcontent-c19="">Deposit equivalent to 2 weeks rent will be taken from all guests</li>
      <li _ngcontent-c19="">The entire deposit is refundable if the unit is returned in the original condition. Deductions will be made from the deposit (breakages, cleanliness issues, loss of keys, rent arrears)<br _ngcontent-c19="">
      </li>
    </ol>
  </li>
  <br _ngcontent-c19="">
  <li _ngcontent-c19=""><strong _ngcontent-c19="">Notice of Vacating</strong>
    <ol _ngcontent-c19="">
      <li _ngcontent-c19="">The guest is required to provide minimum 2 weeks notice to vacate or vice versa.</li>
      <li _ngcontent-c19="">The deposit will be held back if the stipulated notice period is not provided.</li>
      <li _ngcontent-c19="">The stay can be extended if communicated in advance, else the lease end date will be considered as the last day of stay.</li>
      <li _ngcontent-c19="">Notice starts from the subsequent day when the notice is received.</li>
      <li _ngcontent-c19="">Notice of vacating needs to be provided in writing.</li>
      <li _ngcontent-c19="">If the notice period is not served, the deposit amount will be withheld.</li>
      <li _ngcontent-c19="">Hand over all the keys including the security fobs.</li>
      <li _ngcontent-c19="">Make sure you complete the vacating checklist and send it back to us on the day of vacating.<br _ngcontent-c19="">
      </li>
    </ol>
  </li>
  <br _ngcontent-c19="">
  <li _ngcontent-c19=""><strong _ngcontent-c19="">Apartment Rules and regulations</strong>
    <ol _ngcontent-c19="">
      <br _ngcontent-c19="">
      <li _ngcontent-c19="">General Guidelines
        <ol _ngcontent-c19="">
          <li _ngcontent-c19="">You can welcome guests, but they have to leave the house before 9pm the latest (same day) and a sleepover is strictly forbidden unless prior consent has been obtained from us, and incurs a surcharge of 50 AUD/person/night.</li>
          <li _ngcontent-c19="">The guests must ensure the cleanliness of the unit always.</li>
          <li _ngcontent-c19="">Our facilities would come and clean the unit twice every month.</li>
          <li _ngcontent-c19="">No smoking, pets, alcohol, bad language, or drugs allowed inside the units.</li>
          <li _ngcontent-c19="">No nails, hooks, adhesives or other fixings may be applied to any part of the unit without permission.</li>
          <li _ngcontent-c19="">Fees/penalties can be deducted from the bond if we notice any damage to the property.</li>
          <li _ngcontent-c19="">You are responsible if you are locked out and need to contact Locksmith to get you in. You further own the responsibility to ensure you have proper keys.</li>
          <li _ngcontent-c19="">Penalty of $120 applies if you lose the security fob. It should be reported immediately.</li>
          <li _ngcontent-c19=""><span _ngcontent-c19="">The guest is responsible for their valuable (passport, electronics, cash, jewellery, cosmetics, medication etc). </span><strong _ngcontent-c19="">We will not take any responsibility for the loss/damage.<br _ngcontent-c19="">
          </strong></li>
          <li _ngcontent-c19="">The unit is a shared space and every guest is expected to be sensitive to their apartment mates.</li>
          <li _ngcontent-c19="">Noisy parties are not allowed.</li>
          <li _ngcontent-c19="">Guests are not allowed to have their guests stay in their unit.</li>
          <li _ngcontent-c19="">Loud music, arguing and fighting is not allowed.</li>
          <li _ngcontent-c19="">If we receive any complaints from the neighbours, you will be asked to vacate immediately and you forfiet the security deposit.<br _ngcontent-c19="">
          </li>
        </ol>
      </li>
      <br _ngcontent-c19="">
      <li _ngcontent-c19=""><strong _ngcontent-c19="">Cleanliness Guidelines<br _ngcontent-c19="">
        </strong>
        <ol _ngcontent-c19="">
          <li _ngcontent-c19="">Kitchen sinks to be empty of dirty /used vessels, cutlery, dinnerware etc.</li>
          <li _ngcontent-c19="">Stove top to be free from any food particles.</li>
          <li _ngcontent-c19="">Kitchen countertops to be clutter free and free from food, plastic bags &amp; used cookware/dinnerware.</li>
          <li _ngcontent-c19="">Remove expired, spoilt food from the fridge.</li>
          <li _ngcontent-c19="">Clean spillage in the Microwave and Refrigerator regularly.</li>
          <li _ngcontent-c19="">Trash bags to be disposed daily.</li>
          <li _ngcontent-c19="">Only the garbage can to be used to keep trash.</li>
          <li _ngcontent-c19="">Bathrooms to be dry.</li>
          <li _ngcontent-c19="">Remove hair from the sink and bath spaces after every use.</li>
          <li _ngcontent-c19="">Lint from dryer to be cleaned after every wash.</li>
          <li _ngcontent-c19="">Make sure washing machine filters are cleaned regularly.</li>
          <li _ngcontent-c19="">Store all personal belongings in the wardrobe.</li>
          <li _ngcontent-c19="">Remove all paper (tickets, newspapers, receipts) from the bedside lockers and dispose them in the garbage bin.</li>
          <li _ngcontent-c19="">Do not leave any personal belongings on the couch/T.V Unit or dining table.</li>
          <li _ngcontent-c19="">The lounge and coffee tables in the living area to be clean and clutter free.<strong _ngcontent-c19=""><br _ngcontent-c19="">
          </strong></li>
          <li _ngcontent-c19="">Bi-Weekly cleaning DOES NOT replace daily cleaning of common areas and bathrooms and toilets.</li>
          <li _ngcontent-c19="">Apartment will be inspected regularly. <strong _ngcontent-c19="">If the premises are not kept clean, we will schedule a cleaning immediately at tenant's expense.</strong>The amount will be deducted from the security deposit.<br _ngcontent-c19="">
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <br _ngcontent-c19="">
  <li _ngcontent-c19=""><strong _ngcontent-c19="">Internet</strong>
    <ol _ngcontent-c19="">
      <li _ngcontent-c19="">Wireless internet is provided in all units as a complimentary offering.</li>
      <li _ngcontent-c19="">The internet is for use and not abuse.</li>
      <li _ngcontent-c19="">Please be wary of what is downloaded. Australia has strict piracy laws.</li>
      <li _ngcontent-c19="">The internet is for use of guests, and the password and access is for only guests of that apartment.<br _ngcontent-c19="">
      </li>
    </ol>
  </li>
  <br _ngcontent-c19="">
  <li _ngcontent-c19=""><strong _ngcontent-c19="">Utilities</strong>
    <ol _ngcontent-c19="">
      <li _ngcontent-c19="">The electricity, water and gas are part of the rental.</li>
      <li _ngcontent-c19="">Turn off the lights and appliances when not in use.</li>
      <li _ngcontent-c19="">Abuse of electricity can warrant extra charges.</li>
      <li _ngcontent-c19="">Close the water taps when not in use.</li>
    </ol>
  </li>
</ol>
<br _ngcontent-c19="">
<p _ngcontent-c19=""><span _ngcontent-c19=""><strong _ngcontent-c19="">Indicative rate list for cleaning and breakages</strong></span></p>
<table _ngcontent-c19="" border="1">
  <tbody _ngcontent-c19="">
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><strong _ngcontent-c19="">Breakages</strong></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><strong _ngcontent-c19="">Replacement + Service Charges</strong></p></td>
    </tr>
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Regular Cleaning</span></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">$60</span></p></td>
    </tr>
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Plumbing</span></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">A$300 (clogs due to hair)</span></p></td>
    </tr>
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Steam Cleaning – Carpet</span></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">$125</span></p></td>
    </tr>
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Heavy Duty Cleaning</span></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">$200</span></p></td>
    </tr>
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Damage to the apartment</span></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Depends on nature of damage</span></p></td>
    </tr>
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Loss of Keys</span></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">$50</span></p></td>
    </tr>
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Loss of Access tags</span></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">$120</span></p></td>
    </tr>
    <tr _ngcontent-c19="">
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">Pest Treatment</span></p></td>
      <td _ngcontent-c19=""><p _ngcontent-c19=""><span _ngcontent-c19="">$150</span></p></td>
    </tr>
  </tbody>
</table>

			</div>
        </div>
    </div>
</section>

{% include 'footer.html.twig' with {'extra_js':''} %} 