<header class="clearfix">
		<form class="s-form">
			<input type="search" name="" placeholder="Enter your search here"><button>Search</button>
		</form>
		<nav>
			<ul>
				<li><a href="#">fgfgf</a></li>				
			</ul>
		</nav>

		
		</header>