@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300');
body {
	font-family: 'Lato', sans-serif;
	color: #333 !important;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
.no_pad {
	padding: 0px;
}
.pd_20 {
	padding: 0px 20px;
}
.pd_10 {
	padding: 10px 10px;
}
.mg_0 {
	margin: 0px !important;
}
.mg_t_60 {
	margin-top: 60px;
}
/*my style*/
header {
	position: relative;
}
.nav-sld {
	position: relative;
	top: -48px;
}
.top-sec {
	margin-top: 15px;
}
.logo-inner img {
	width: 150px;
}
.social-sec {
	margin-top: 13px;
}
.logo-inner a {
	position: relative;
	z-index: 99;
}
.social-sec ul li {
	float: left;
	margin-right: 10px;
	margin-left: 5px;
}
.social-sec ul li a img {
	width: 35px;
}
.social-sec ul li a .sm{
  	width: 28px;
  	margin-top: 4px;
  }
.social-sec ul {
	padding: 10px 6px;
	margin: 0px;
	border: 1px solid #eee;
	border-bottom: 5px solid #2b5b8a;
	float: right;
}
.social-sec ul li h4 {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
}
.social-sec ul li p {
	font-size: 14px;
	color: #666;
	margin: 0px;
	font-weight: 500;
}
.main-nav {
	background: #191e23;
	position: relative;
	border-bottom: 1px solid #fff;
}
.main-nav .nav-ul {
	padding: 0px 0px 0px 170px;
	margin: 0px;
	position: relative;
}
.main-nav ul li {
	float: left;
	position: relative;
}
/*.main-nav ul li:last-child {
	float: right;
}*/
.main-nav ul li:last-child .donate {
	border: 1px solid #eee;
	padding: 7px 20px;
	border-bottom: 5px solid #fff;
	margin-top: 10px;
}
.main-nav ul li a {
	color: #fff;
	padding: 20px 10px;
	display: inline-block;
	font-size: 16px;
	transition: all ease-in-out 0.5s;
}
.main-nav ul li a:hover {
	background: #2B5B8A;
}
.main-nav ul li a i {
	font-size: 14px;
	margin-left: 2px;
}
.active {
	background: #2B5B8A;
}
.main-nav ul > li > .dropdowns {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	display: block;
	background: #191e23;
	width: 250px;
	top: 147%;
	z-index: 99999;
	padding: 0px;
	transition: all ease-in-out 0.5s;
}
.main-nav ul > li:hover .dropdowns {
	visibility: visible;
	opacity: 1;
	top: 101%;
}
.main-nav ul > li > .dropdowns li {
	float: none;
}
.main-nav ul > li > .dropdowns li a {
	border-color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.5);
	position: relative;
	z-index: 1;
	display: block;
	padding: 15px 15px;
	line-height: 22px;
	font-weight: 400;
	font-size: 14px;
	text-transform: capitalize;
	color: #e0dfdf;
	border-top: 1px solid #fff;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.main-nav ul > li > .dropdowns li a:hover {
	background: rgb(234, 234, 234);
	color: #000;
}
.main-nav ul > li > .dropdowns li a::after {
	content: "";
	background: rgb(234, 234, 234);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .5s ease;
	transform: scaleX(0);
	z-index: -1;
	transform-origin: 0 0;
}
.main-nav ul > li > .dropdowns li a:hover::after {
	transform: scaleX(1);
}
/*start about sec*/
.about-sec {
	position: relative;
	top: -108px;
	padding: 0px;
	background: #EDEDED none repeat scroll 0% 0%;
}
.abt-left .about-inner-l {
	padding: 40px 130px 40px 40px;
	background: #333 none repeat scroll 0% 0%;
	color: #FFF;
	position: relative;
	margin: 0px -130px 0px 0px;
	top: 6px;
	z-index: 99;
}
.abt-left .about-inner-l h4 {
	font-size: 14px;
	text-transform: uppercase;
	color: #0280f1;
	border-bottom: 1px solid #23527C;
	padding-bottom: 10px;
	display: inline-block;
}
.abt-left .about-inner-l h3 {
    margin-top: 0px;
    font-size: 26px;
    border-bottom: 4px solid #ccc;
    padding-bottom: 17px;
}
.abt-left .about-inner-l p {
	font-size: 14px;
	line-height: 25px;
	color: #dcdcdc;
}
.abt-left .about-inner-l small {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: block;
}
.d-price .d-lefts {
	float: left;
	font-weight: bold;
}
.d-price .d-lefts span {
	color: #0280f1;
	margin-left: 5px;
}
.d-price .d-rights {
	float: right;
	font-weight: bold;
}
.d-price .d-rights span {
	color: #0280f1;
	margin-left: 5px;
}
.sbts {
	color: #fff;
	background: #0280f1;
	padding: 8px 20px;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	margin-top: 20px;
}
.about-inner-r .abt-rgtimg {
	width: 100%;
	position: relative;
	z-index: 999;
	bottom: -109px;
}
.progress-bar-striped {
	background: #2B5B8A;
}
/*start cause-sec*/
.cause-sec {
	margin: 10px 0px 50px 0px;
}
.cause-head {
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.cause-head::before {
	position: absolute;
	content: "";
	width: 100px;
	height: 2px;
	background: #444444;
	left: 0;
	right: 0;
	margin: 45px auto;
}
.cause-inner .cause-img {
	overflow: hidden;
	display: block;
	position: relative;
}
.cause-inner .cause-img::before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	transition: all ease-in-out 0.5s;
	transform: scale(0);
	z-index: 999;
}
.cause-inner:hover .cause-img::before {
	transform: scale(1);
}
.cause-inner img {
	width: 100%;
	transition: all ease-in-out 0.5s;
	transform: scale(1);
}
.cause-inner:hover img {
	transform: scale(1.1);
}
.cause-inner h4 {
	font-size: 22px;
	margin-top: 0px;
}
.cause-inner p {
	font-size: 14px;
	line-height: 25px;
}
.cause-inner .cause-d {
	font-size: 12px;
	text-transform: uppercase;
	background: #23527C;
	color: #fff;
	padding: 7px 15px;
	margin-top: 10px;
	display: inline-block;
}
.cause-inner {
	border: 1px solid #eee;
	transition: all ease-in-out 0.5s;
}
.cause-inner:hover {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.cause-text {
	padding: 20px;
}
/*start dtn-sec */
.dtn-sec {
	margin: 80px 0px;
	padding: 50px 0px;
	background: url(../images/donation-banner.jpg) no-repeat fixed;
	background-size: cover;
	color: #fff;
}
.dtn-inner {
	position: relative;
	z-index: 999;
}
.bgs-1::before {
	position: absolute;
	content: "";
	top: -50px;
	right: -15px;
	bottom: -50px;
	left: -382px;
	background: rgba(35,82,124,0.7);
	z-index: 99;
}
/*.bgs-2::before {
	position: absolute;
	content: "";
	top: -50px;
	right: -382px;
	bottom: -50px;
	left: -15px;
	background: rgba(51,51,51,0.7);
	z-index: 99;
}*/
.bgs-1 {
	position: relative;
	padding: 15px;
}
.bgs-2 {
	position: relative;
	padding: 15px 15px 15px 40px;
}
.dtn-inner h3 {
	font-size: 30px;
}
.dtn-join {
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px 15px;
	background: #333;
	color: #fff;
	margin-top: 10px;
	display: inline-block;
	transition: all ease-in-out 0.5s;
}
.dtn-join:hover {
	background: #0280f1;
	color: #fff;
}
.dtn-donate {
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px 15px;
	background: #23527C;
	color: #fff;
	margin-top: 10px;
	display: inline-block;
	transition: all ease-in-out 0.5s;
}
.dtn-donate:hover {
	background: #0280f1;
	color: #fff;
}
/*event-sec*/
.event-sec {
	position: relative;
	margin-bottom: 50px;
}
.event-header {
	text-align: center;
}
.event-header small {
	text-transform: uppercase;
	font-size: 12px;
	color: #444444;
}
.event-header > h3 {
	font-size: 24px;
	margin: 10px 0px 60px 0px;
	text-transform: uppercase;
	font-weight: bold;
}
.event-header > h3::before {
	position: absolute;
	content: "";
	width: 100px;
	height: 2px;
	left: 0;
	right: 0;
	background: #444444;
	margin: 45px auto;
}
.item-inner {
	position: relative;
	z-index: 99;
	margin-bottom: 20px;
	background: #fff;
	transition: all ease-in-out 0.5s;
}
.item-inner:hover {
	box-shadow: 0px 15px 15px -15px rgba(0,0,0,0.3);
}
.image-box {
	position: relative;
	overflow: hidden;
	display: block;
}
.event-sec .item-inner .image-box img {
	width: 100%;
	transition: all ease-in-out 0.5s;
	transform: scale(1);
}
.event-sec .item-inner:hover .image-box img {
	transform: scale(1.1);
}
.event-sec .item-inner .image-box .overlay {
	background-color: rgba(35, 82, 124, 0.67);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	transition: all ease-in-out 0.5s;
	transform: rotateY(180deg) scale(0.5, 0.5);
}
.event-sec .item-inner:hover .image-box .overlay {
	opacity: 1;
	transform: rotateY(0deg) scale(1, 1);
}
.event-sec .item-inner:hover .image-box .overlay .boxs {
	display: table;
	height: 100%;
	width: 100%;
}
.event-sec .item-inner:hover .image-box .overlay .boxs .contents {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.event-sec .item-inner:hover .image-box .overlay .boxs .contents a {
	width: 100%;
}
.event-sec .item-inner:hover .image-box .overlay .boxs .contents a i {
	background: #0280f1;
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	font-size: 16px;
	height: 45px;
	line-height: 48px;
	transition: all 500ms ease 0s;
	width: 45px;
}
.item-inner .content-box {
	padding: 20px;
	background: #fff;
	border: 1px solid #ececec;
}
.item-inner .content-box .title-area {
	position: relative;
	padding: 0px 0px 20px;
	padding-left: 118px;
}
.item-inner .content-box .title-area h3 {
	line-height: 38px;
	text-align: left;
}
.item-inner .content-box .title-area h3 a {
	font-size: 24px;
	font-weight: 600;
	color: #282828;
}
.item-inner .content-box .title-area h3 a span {
	color: #23527C;
}
.item-inner .content-box .title-area .event-info {
	padding: 0px;
	text-align: left;
}
.item-inner .content-box .title-area .event-info li {
	display: inline-block;
	position: relative;
	font-size: 16px;
	margin-right:20px;
}
.item-inner .content-box .texts {
	text-align: left;
}
.item-inner .content-box .event-links {
	text-align: left;
}
.item-inner .content-box .event-link {
	font-size: 12px;
	text-transform: uppercase;
	background: #23527C;
	color: #fff;
	padding: 7px 15px;
	display: inline-block;
	transition: all ease-in-out 0.5s;
}
.item-inner .content-box .event-link:hover {
	background: #0280f1;
}
.item-inner .content-box .title-area .event-info li span {
	margin-right: 5px;
}

.item-inner .content-box .title-area .date {
	position: absolute;
	font-size: 40px;
	left: 0px;
	top: 0px;
	height: 87px;
	width: 80px;
	font-weight: 700;
	background: #23527C;
	line-height: 28px;
	padding-top: 13px;
	z-index: 9;
	color: #fff;
	text-align: center;
}
.item-inner .content-box .title-area .date p {
	padding: 0px 7px 0px;
	border-top: 1px solid #fff;
	font-weight: 300;
	font-size: 16px;
	display: inline-block;
	margin-top: 13px;
}
.owl-carousel .owl-item {
	background: #fff;
}
/*start footer*/
.footer-sec {
	padding: 50px 0px;
	background: #191E23;
	border-top: 1px solid #CACACA;
}
.footer-text1 {
	color: #cacaca;
	line-height: 22px;
	margin-top: 20px;
}
.footer-head {
	margin: 0px;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 45px;
}
.footer-sec .footer-inner ul {
	padding: 0px;
}
.footer-sec .footer-inner ul li .quk {
	color: #cacaca;
	padding: 0px 0px 10px 0px;
	display: block;
	transition: all ease-in-out 0.5s;
}
.footer-sec .footer-inner ul li .quk:hover {
	color: #0280f1;
}
.footer-sec .footer-inner .contacts {
	color: #CACACA;
	font-size: 20px;
	text-align: center;
}
.social-link {
	color: #CACACA;
	margin-bottom: 20px;
	display: block;
	transition: all ease-in-out 0.5s;
}
.social-link:hover {
	color: #0280f1;
}
.footer-sec .footer-inner small {
	color: #CACACA;
	font-size: 16px;
	margin-bottom: 20px;
	display: block;
}
.footer-fa .footer-fa-inner {
	display: inline-block;
}
.footer-fa .footer-fa-inner .fa-fbk {
	height: 30px;
	width: 30px;
	border: 1px solid #C0C0C0;
	color: #CACACA;
	text-align: center;
	display: block;
	font-size: 18px;
	margin-right: 5px;
	margin-top: 20px;
	position: relative;
}
.footer-fa .footer-fa-inner .fa-fbk::before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0%;
	transition: all 0.5s ease-in-out 0s;
	transform: scale(0);
}
.footer-fa .footer-fa-inner .fa-fbk:hover::before {
	transform: scale(1);
}
.footer-fa .footer-fa-inner .fa-fbk i {
	line-height: 30px;
}
.copyright-sec {
	padding: 20px 0px;
	background: #0E1214;
}
.copyright-sec a {
	color: #CACACA;
	transition: all ease-in-out 0.5s;
}
.copyright-sec a:hover {
	color: #0280f1;
}
.tdm {
	text-align: right;
	display: block;
}
